@media (max-width:768px) {

    .section,
    .section_ambiente,
    .section_partida {
        flex-direction: column;
        padding: 1.5rem;
    }

    .section_ambiente img,
    .section_partida img {
        max-width: 250px;
        height: auto;
    }

    .section p,
    .section_ambiente p,
    .section_partida p {
        font-size: 12px;
    }

    .header p {
        font-size: 10px;
        text-align: center;
    }

    .logo {
        max-width: 20px;
    }
}

@media(max-width:1023px) {

    .section_ambiente img,
    .section_partida img {
        max-width: 300px;
    }

    .section_partida img {
        object-fit: contain;
    }
}