* {
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

ul li {
    list-style: none;
}

.page-link {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: blueviolet;
    transition: all .2s ease-in-out;
}

.page-link:hover {
    cursor: pointer;
    scale: 1.1;
}

a {
    color: #fff;
    text-decoration: none;
}

.container {
    background-color: #cecece;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
}

.container h1 {
    margin-bottom: 15px;
}

.links {
    margin: 1.5rem 0;
}

.links ul {
    gap: 2rem;
    display: flex;
}



ul li {
    list-style: none;
}

/* Cabeçalho e logo */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    background: linear-gradient(180deg, #1a1a1a, #333333);
}

.logo {
    max-width: 300px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

/* Container principal */
#content {
    max-width: 800px;
    background-color: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 2rem;
    margin: 3rem auto;
}

/* Textos */
.text h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.text h3,
.text h4 {
    color: #555;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    font-weight: bold;
}

.text p {
    margin-bottom: 1rem;
    text-align: justify;
    line-height: 1.8;
}

/* Links e navegação */
.page-link {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: blueviolet;
    transition: all 0.2s ease-in-out;
    color: #fff;
    text-decoration: none;
}

.page-link:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* Container secundário */
.container {
    background-color: #cecece;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
}

.container h1 {
    margin-bottom: 15px;
}

.links {
    margin: 1.5rem 0;
}

.links ul {
    gap: 2rem;
    display: flex;
}

/* Botão para gerar PDF */
button#generate-pdf {
    display: block;
    width: 100%;
    max-width: 220px;
    margin: 2rem auto;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #5c5c5c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#generate-pdf:hover {
    background-color: #3a3a3a;
}